<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple form</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h3><%= @result[:title] %></h3>

  <p><%= @result[:message] %></p>

  <h3>What we get:</h3>

  <b>Name:</b> <%= @username %>
  <hr>

  <b>Phone:</b> <%= @phone %>
  <hr>

  <b>Topic:</b> <%= @topic %>
  <hr>

  <b>Date:</b> <%= @date %>
  <hr>

  <b>Time:</b> <%= @time %>
  <hr>

  <b>Message:</b> <%= @message %>
  <hr>
</body>
</html>


